<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
</head>
<body>
    <h1>Madlibs</h1>
    <form action="/story">
        <label for="place">Place:</label>
        <input type="text" id="place" name="place"><br>
        <label for="noun">Noun:</label>
        <input type="text" id="noun" name="noun"><br>
        <label for="Verb">Verb:</label>
        <input type="text" id="verb" name="verb"><br>
        <label for="adjective">Adjective:</label>
        <input type="text" id="adjective" name="adjective"><br>
        <label for="plural-noun">Plural_Noun:</label>
        <input type="text" id="plural_noun" name="plural_noun"><br>
        <button>Submit</button>
    </form>
</body>
</html>